.dashboard{
    height: 100vh;
}
.charts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    column-gap: 1em;
}

.charts-container .chart{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1em;
    padding: 0.5em;

}

.charts-container .chart .title{
    font-weight: bold;
}

.charts-container .chart canvas{
    height: 100%;
    width: ;
}

.full-width{
    display: block;
}